/* =========調整用スタイル========= */
body {
	background-color: #13302c;
	min-height: 100vh;
}
h1 {
	color: white;
	font-size: 200px;
	text-align: center;
	line-height: 100vh;
}
/* =========ここまで調整用スタイル========= */

.loading {
	z-index: calc(infinity);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #8b9ba8;
}
.loading-wrapper {
	height: 100%;
}
/*アニメーション終了後の非表示処理*/
.loading.isLoaded {
	transition: opacity 0.5s;
	opacity: 0;
}
.loading-wrapper > svg {
	scale: 2;
}
