
/* 
sns 
*/
.sns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;  
}
.access .logo img{
    display: block;
    height: 50px;
    width: auto;
}
.sns-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sns img{
    width: 50px;
    height: 50px;
    margin: 0;
}
